{% extends "common/common.html" %}

{% block title %}{% endblock %}

{% block meta %}{% endblock %}

{% block css %}{% endblock %}

{% block card_header_1 %}{% endblock %}
{% block card_body_1 %}{% endblock %}

{% set card_2 = 1 %}
{% block card_header_2 %}{% endblock %}
{% block card_body_2 %}{% endblock %}

{% set card_3 = 1 %}
{% block card_header_3 %}{% endblock %}
{% block card_body_3 %}{% endblock %}

{% set card_s1 = 1 %}
{% block card_header_s1 %}{% endblock %}
{% block card_body_s1 %}{% endblock %}

{% block js %}{% endblock %}